.home {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  text-align: center; /* 添加居中对齐文本 */
}

.post-list {
  list-style: none;
  padding: 0;
  margin: 0 auto; /* 确保列表本身居中 */
  text-align: left; /* 确保列表项内容左对齐 */
}

.post-list li {
  margin-bottom: 40px;
}

.post-link {
  color: #333;
  text-decoration: none;
}

.post-meta {
  display: block;
  font-size: 14px;
  color: #999;
}
